.btn {
	font-size: 2rem;
	color: white !important;
	padding: 1rem 2rem;
	border: 2px solid $color-primary-dark;
	text-decoration: none;

	&--primary {
		background: $color-primary-light;
		transition: 0.3s all;
	}

	&--bordered {
		background: none;
	}

	&:hover {
		background: $color-primary-dark;
	}
}
