// Colors

$color-primary-light: rgb(198, 67, 238);
$color-primary: rgb(188, 36, 235);
$color-primary-dark: rgb(179, 37, 223);

$color-secondary-light: #f79a4d;
$color-secondary: #f58a32;
$color-secondary-dark: #ec7716;

// Font size
$font-size-base: 1.6rem;

// Breakpoints
$lg: 1100px;
$md: 830px;
$sm: 700px;
$xs: 550px;
